<!-- Breadcrumb -->
			<div class="breadcrumb-bar">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-md-12 col-12">
							<nav aria-label="breadcrumb" class="page-breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a [routerLink]="''">Accueil</a></li>
									<li class="breadcrumb-item active" aria-current="page">Profile</li>
								</ol>
							</nav>
							<h2 class="breadcrumb-title">Praticien</h2>
						</div>
					</div>
				</div>
			</div>
			<!-- /Breadcrumb -->

			<!-- Page Content -->
			<div class="content">
				<div class="container">

					<!-- Doctor Widget -->
					<div class="card">
						<div class="card-body">
							<div class="doctor-widget">
								<div class="doc-info-left">
									<div class="doctor-img">
										<!--<img *ngIf="!doctorDetails" src="assets/img/doctors/doctor-thumb-02.jpg" class="img-fluid" alt="User Image">-->
										<img *ngIf="doctorDetails" src="{{doctorDetails.profile}}" class="img-fluid" alt="User Image">
									</div>
									<div class="doc-info-cont">
										<!--<h4 class="doc-name" *ngIf="!doctorDetails">Dr. Darren Elder</h4>-->
										<h4 class="doc-name" *ngIf="doctorDetails">{{doctorDetails.doctor_name}}</h4>
										<!--<p class="doc-speciality" *ngIf="!doctorDetails">BDS, MDS - Oral & Maxillofacial Surgery</p>-->
										<p class="doc-speciality" *ngIf="doctorDetails">{{doctorDetails.Education}}</p>
										<!--<p class="doc-department" *ngIf="!doctorDetails"><img src="assets/img/specialities/specialities-05.png" class="img-fluid" alt="Speciality">
											<span > Dentist </span>
										</p>-->
										<p class="doc-department" *ngIf="doctorDetails"><img [src]="doctorDetails.speciality_profile" class="img-fluid" alt="Speciality">
											<span > {{doctorDetails.speciality}} </span>
										</p>
										<!--<div class="rating">
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star"></i>
											<span class="d-inline-block average-rating">(35)</span>
										</div>-->
										<div class="clinic-details">
											<!--<p class="doc-location" *ngIf="!doctorDetails"><i class="fas fa-map-marker-alt"></i> Newyork, USA - <a href="javascript:void(0);">Get Directions</a></p>-->
                      <ul class="clinic-gallery" *ngIf="doctorDetails.images != null">
												<li>
													<a lightbox-group >
														<img *ngFor="let image of images"
														[src]="image.path"
														lightbox />
													</a>
												</li>
											</ul>
										</div>
										<!--<div class="clinic-services">
                      <span *ngFor="let service of doctorDetails.services">{{service}}</span>
                    </div>-->
									</div>
								</div>
								<div class="doc-info-right">
									<div class="clini-infos">
										<ul>
											<!--<li><i class="far fa-thumbs-up"></i> 99%</li>
											<li><i class="far fa-comment"></i> 35 Feedback</li>-->
											<li><i class="fas fa-map-marker-alt"></i>
												<span *ngIf="doctorDetails">{{doctorDetails.location}}</span>
											</li>
											<li><i class="far fa-money-bill-alt"></i>
												<span *ngIf="doctorDetails">{{doctorDetails.Price}}</span>
											 </li>
										</ul>
									</div>
									<!--<div class="doctor-action">
										<a (click)="addFav()" id="fav-btn" class="btn btn-white fav-btn">
											<i class="far fa-bookmark"></i>
										</a>
										<a [routerLink]="'/doctor/message'" class="btn btn-white msg-btn">
											<i class="far fa-comment-alt"></i>
										</a>
										<a [routerLink]="'/voice-call'" class="btn btn-white call-btn" data-toggle="modal" data-target="#voice_call">
											<i class="fas fa-phone"></i>
										</a>
										<a [routerLink]="'/video-call'"  class="btn btn-white call-btn" data-toggle="modal" data-target="#video_call">
											<i class="fas fa-video"></i>
										</a>
									</div>-->
									<div class="clinic-booking">
										<a class="apt-btn" [routerLink]="'/patients/booking'"  [queryParams]="{id: doctorDetails?.id}">Reserver</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /Doctor Widget -->

					<!-- Doctor Details Tab -->
					<div class="card">
						<div class="card-body pt-0">

							<!-- Tab Menu -->
							<nav class="user-tabs mb-4">
								<ul class="nav nav-tabs nav-tabs-bottom nav-justified">
									<li class="nav-item">
										<a class="nav-link active" href="#doc_overview" data-toggle="tab">Présentation</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#doc_locations" data-toggle="tab">Informations d'accès</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#doc_business_hours" data-toggle="tab">Informations Légales</a>
									</li>
								</ul>
							</nav>
							<!-- /Tab Menu -->

							<!-- Tab Content -->
							<div class="tab-content pt-0">

								<!-- Overview Content -->
								<div role="tabpanel" id="doc_overview" class="tab-pane fade show active">
									<div class="row">
										<div class="col-md-12 col-lg-9">

											<!-- About Details -->
											<div class="widget about-widget">
												<h4 class="widget-title">Activités</h4>
												<p>{{doctorDetails.desc}}</p>
											</div>
											<!-- /About Details -->

											<!-- Education Details -->
											<div class="widget education-widget">
												<h4 class="widget-title">Formations</h4>
												<div class="experience-box">
													<ul class="experience-list">
														<li *ngFor="let formation of formations">
															<div class="experience-user">
																<div class="before-circle"></div>
															</div>
															<div class="experience-content">
																<div class="timeline-content">
																	<a href="#/" class="name">{{formation.title}}</a>
																	<div>{{formation.ecole}}</div>
																	<span class="time">{{formation.annee}}</span>
																</div>
															</div>
														</li>
													</ul>
												</div>
											</div>
											<!-- /Education Details -->

											<!-- Experience Details -->
											<div class="widget experience-widget">
												<h4 class="widget-title">Experiences</h4>
												<div class="experience-box">
													<ul class="experience-list">
														<li *ngFor="let xp of xps">
															<div class="experience-user">
																<div class="before-circle"></div>
															</div>
															<div class="experience-content">
																<div class="timeline-content">
																	<a href="#/" class="name">{{xp.title}}</a>
																	<span class="time">{{xp.annee}}</span>
																</div>
															</div>
														</li>
													</ul>
												</div>
											</div>
											<!-- /Experience Details -->

											<!-- Awards Details -->
											<div class="widget awards-widget">
												<h4 class="widget-title">Recompenses</h4>
												<div class="experience-box">
													<ul class="experience-list">
														<li *ngFor="let award of awards">
															<div class="experience-user">
																<div class="before-circle"></div>
															</div>
															<div class="experience-content">
																<div class="timeline-content">
																	<p class="exp-year">{{award.date}}</p>
																	<h4 class="exp-title">{{award.title}}</h4>
																	<p>{{award.desc}}</p>
																</div>
															</div>
														</li>
													</ul>
												</div>
											</div>
											<!-- /Awards Details -->

											<!-- Services List
											<div class="service-list">
												<h4>Services</h4>
												<ul class="clearfix">
													<li>Tooth cleaning </li>
													<li>Root Canal Therapy</li>
													<li>Implants</li>
													<li>Composite Bonding</li>
													<li>Fissure Sealants</li>
													<li>Surgical Extractions</li>
												</ul>
											</div>-->
											<!-- /Services List -->

											<!-- Specializations List -->
											<div class="service-list">
												<h4>Domaines d'expertise</h4>
												<ul class="clearfix">
													<li *ngFor="let ex of expertises">{{ex}}</li>
												</ul>
											</div>
											<!-- /Specializations List -->

										</div>
									</div>
								</div>
								<!-- /Overview Content -->

								<!-- Locations Content -->
								<div role="tabpanel" id="doc_locations" class="tab-pane fade">

									<!-- Location List -->
									<div class="location-list">
										<div class="row" *ngFor="let infos of accessInfos">

											<!-- Clinic Content -->
											<div class="col-md-6">
												<div class="clinic-content">
													<h4 class="clinic-name"><a href="javascript:void(0)">{{infos.structure}}</a></h4>
													<p class="doc-speciality">{{infos.service}}</p>
													<!--<div class="rating">
														<i class="fas fa-star filled"></i>
														<i class="fas fa-star filled"></i>
														<i class="fas fa-star filled"></i>
														<i class="fas fa-star filled"></i>
														<i class="fas fa-star"></i>
														<span class="d-inline-block average-rating">(4)</span>
													</div>-->
													<div class="clinic-details mb-0">
														<h5 class="clinic-direction"> <i class="fas fa-map-marker-alt"></i> {{infos.addresse}}</h5>
														<!--<ul class="clinic-gallery">
															<li>
																<a lightbox-group >
																	<img *ngFor="let image of images"
																	[src]="image.path"
																	lightbox />
																</a>
															</li>
														</ul>-->
													</div>
												</div>
											</div>
											<!-- /Clinic Content -->

											<!-- Clinic Timing -->
											<div class="col-md-4">
												<div class="clinic-timing">
													<div>
														<p class="timings-days">
															<span> {{infos.firstDayRangeDate}}</span>
														</p>
														<p class="timings-times">
															<span>{{infos.firstDayRangeFrom}}</span>
															<span>{{infos.firstDayRangeTo}}</span>
														</p>
													</div>
													<div>
													<p class="timings-days">
														<span>{{infos.SecondDayRangeDate}}</span>
													</p>
													<p class="timings-times">
                            <span>{{infos.SecondDayRangeFrom}}</span>
                            <span>{{infos.SecondDayRangeTo}}</span>
													</p>
													</div>
												</div>
											</div>
											<!-- /Clinic Timing -->

											<div class="col-md-2">
												<div class="consult-price">
                          {{infos.tarif}}
												</div>
											</div>
										</div>
									</div>
									<!-- /Location List -->

								</div>
								<!-- /Locations Content -->

								<!-- Business Hours Content -->
								<div role="tabpanel" id="doc_business_hours" class="tab-pane fade">
									<div class="row">
										<div class="col-md-6 offset-md-3">

											<!-- Business Hours Widget -->
											<div class="widget business-widget">
												<div class="widget-content">
                             <p>Numéro RPPS 10100159895</p>
												</div>
											</div>
											<!-- /Business Hours Widget -->

										</div>
									</div>
								</div>
								<!-- /Business Hours Content -->

							</div>
						</div>
					</div>
					<!-- /Doctor Details Tab -->

				</div>
			</div>
			<!-- Voice Call Modal -->
		<div class="modal fade call-modal" id="voice_call">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-body">

						<!-- Outgoing Call -->
						<div class="call-box incoming-box">
							<div class="call-wrapper">
								<div class="call-inner">
									<div class="call-user">
										<img alt="User Image" src="assets/img/patients/patient.jpg" class="call-avatar">
										<h4>Richard Wilson</h4>
										<span>Connecting...</span>
									</div>
									<div class="call-items">
										<a href="javascript:void(0);" class="btn call-item call-end" data-dismiss="modal" aria-label="Close"><i class="material-icons">call_end</i></a>
										<a [routerLink]="'/voice-call'" class="btn call-item call-start"><i class="material-icons">call</i></a>
									</div>
								</div>
							</div>
						</div>
						<!-- Outgoing Call -->

					</div>
				</div>
			</div>
		</div>
		<!-- /Voice Call Modal -->

		<!-- Video Call Modal -->
		<div class="modal fade call-modal" id="video_call">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-body">

						<!-- Incoming Call -->
						<div class="call-box incoming-box">
							<div class="call-wrapper">
								<div class="call-inner">
									<div class="call-user">
										<img class="call-avatar" src="assets/img/patients/patient.jpg" alt="User Image">
										<h4>Richard Wilson</h4>
										<span>Calling ...</span>
									</div>
									<div class="call-items">
										<a href="javascript:void(0);" class="btn call-item call-end" data-dismiss="modal" aria-label="Close"><i class="material-icons">call_end</i></a>
										<a [routerLink]="'/video-call'" class="btn call-item call-start"><i class="material-icons">videocam</i></a>
									</div>
								</div>
							</div>
						</div>
						<!-- /Incoming Call -->

					</div>
				</div>
			</div>
		</div>
		<!-- Video Call Modal -->
