<!-- Breadcrumb -->
<div class="breadcrumb-bar">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-8 col-12">
        <nav aria-label="breadcrumb" class="page-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="''">Accueil</a></li>
            <li class="breadcrumb-item active" aria-current="page">recherche</li>
          </ol>
        </nav>
        <h2 class="breadcrumb-title">{{this.data.length}} resultats</h2>
      </div>
      <!--<div class="col-md-4 col-12 d-md-block d-none">
        <div class="sort-by">

          <span class="sort-title">Sort by</span>
          <span class="sortby-fliter">
            <ng-select2 [data]="exampleData" width="100%">
              <option>Select</option>
                <option class="sorting">Rating</option>
                <option class="sorting">Popular</option>
                <option class="sorting">Latest</option>
                <option class="sorting">Free</option>
            </ng-select2>
          </span>
        </div>
      </div>-->
    </div>
  </div>
</div>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12 col-lg-4 col-xl-2 theiaStickySidebar">

        <!-- Search Filter -->
        <!--<div class="card search-filter">
          <div class="card-header">
            <h4 class="card-title mb-0">Search Filter</h4>
          </div>
          <div class="card-body">
          <div class="filter-widget">
            <div class="cal-icon">
              <input type="text" class="form-control" name="dp" [(ngModel)]="model" (click)="d.toggle()" ngbDatepicker #d="ngbDatepicker">
            </div>
          </div>
          <div class="filter-widget">
            <h4>Gender</h4>
            <div>
              <label class="custom_check">
                <input type="checkbox" name="gender_type" value="Male" (click)="checkType($event)"  [checked]="type === 'Male'" >
                <span class="checkmark"></span> Male Doctor
              </label>
            </div>
            <div>
              <label class="custom_check">
                <input type="checkbox" name="gender_type" value="Female" [checked]="type === 'Female'"  (click)="checkType($event)">
                <span class="checkmark"></span> Female Doctor
              </label>
            </div>
          </div>
          <div class="filter-widget">
            <h4>Select Specialist</h4>
            <div *ngFor="let specialit of specialityList">
              <label class="custom_check">
                <input type="checkbox" (click)="checkSpeciality($event)" name="select_specialist" [value]="specialit.speciality" [checked]="specialit.checked">
                <span class="checkmark"></span> {{specialit.speciality}}
              </label>
            </div>

          </div>
            <div class="btn-search">
              <button type="button" class="btn btn-block" (click)="search()">Search</button>
            </div>
          </div>
        </div>-->
        <!-- /Search Filter -->

      </div>

      <div class="col-md-12 col-lg-8 col-xl-9">

        <!-- Doctor Widget -->
        <div class="card" *ngFor="let doctor of data" [hidden]="data.length === 0">

          <div class="card-body">
            <div class="doctor-widget">
              <div class="doc-info-left">
                <div class="doctor-img">
                  <a [routerLink]="'/patients/doctor-profile'" [queryParams]="{id: doctor.id}">
                    <img [src]="doctor.profile" class="img-fluid" alt="User Image">
                  </a>
                </div>
                <div class="doc-info-cont">
                  <h4 class="doc-name"><a [routerLink]="'/patients/doctor-profile'" [queryParams]="{id: doctor.id}">{{doctor.name}}</a></h4>
                  <p class="doc-speciality">{{doctor.education}}</p>
                  <h5 class="doc-department" *ngIf="doctor.collection == 'doctors'"><img [src]="doctor.speciality_profile" class="img-fluid" alt="Speciality">{{doctor.speciality}}</h5>
                  <!--<div class="rating">
                    <i class="fas fa-star filled"></i>
                    <i class="fas fa-star filled"></i>
                    <i class="fas fa-star filled"></i>
                    <i class="fas fa-star filled"></i>
                    <i class="fas fa-star"></i>
                    <span class="d-inline-block average-rating">(17)</span>
                  </div>-->
                  <div class="clinic-details">
                    <p class="doc-location"><i class="fas fa-map-marker-alt"></i> {{doctor.location}}</p>
                    <p><i class="far fa-money-bill-alt"></i> {{doctor.price}}</p>
                    <ul class="clinic-gallery" *ngIf="doctor.images != null">
                      <li>
                        <a lightbox-group >
                          <img *ngFor="let image of images"
                               [src]="image"
                               lightbox />
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="clinic-services">
                    <span *ngFor="let service of doctor.services">{{service}}</span>
                  </div>
                </div>
              </div>
              <div class="doc-info-right">
                <div class="clini-infos">
                  <ul>
                    <!--<li><i class="far fa-thumbs-up"></i> 98%</li>
                    <li><i class="far fa-comment"></i> 17 Feedback</li>
                    <li><i class="fas fa-map-marker-alt"></i> {{doctor.location}}</li>-->
                    <li>
                  </ul>
                </div>
                <div class="clinic-booking">
                  <a class="view-pro-btn" style="cursor: pointer;" (click)="printDocProfile(doctor.id)">Profile</a>
                  <a class="apt-btn" style="cursor: pointer;" (click)="bookAppointment(doctor.id)">Reserver</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="load-more text-center" *ngIf="data.length >  20">
          <a class="btn btn-primary btn-sm" href="javascript:void(0);">voir plus</a>
        </div>
      </div>
    </div>

  </div>

</div>
<!-- /Page Content -->
