<!-- Breadcrumb -->
<div class="breadcrumb-bar">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-12 col-12">
        <nav aria-label="breadcrumb" class="page-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="''">Accueil</a></li>
            <li class="breadcrumb-item active" aria-current="page">Reservation</li>
          </ol>
        </nav>
        <h2 class="breadcrumb-title">Prendre rendez-vous</h2>
      </div>
    </div>
  </div>
</div>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content">
  <div class="container">

    <div class="row">
      <div class="col-12">

        <div class="card">
          <div class="card-body">
            <div class="booking-doc-info" *ngIf="doctorDetails">
              <a [routerLink]="'patients/doctor-profile'" class="booking-doc-img">
                <img src={{doctorDetails.profile}} alt="User Image">
              </a>
              <div class="booking-info">
                <h4><a [routerLink]="'patients/doctor-profile'">{{doctorDetails.doctor_name}}</a></h4>
                <!--<div class="rating">
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star"></i>
                  <span class="d-inline-block average-rating">35</span>
                </div>-->
                <p class="text-muted mb-0"><i class="fas fa-map-marker-alt"></i> {{doctorDetails.location}}</p>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="row">
           <div class="col-12 col-sm-4 col-md-6">
             <h4 class="mb-1">11 November 2019</h4>
             <p class="text-muted">Monday</p>
           </div>
           <div class="col-12 col-sm-8 col-md-6 text-sm-right">
             <div class="bookingrange btn btn-white btn-sm mb-3">
               <i class="far fa-calendar-alt mr-2"></i>
               <input name="daterangeInput" id="daterange" daterangepicker [options]="options" (selected)="selectedDate($event, daterange)" />
               <i class="fas fa-chevron-down ml-2"></i>
             </div>
           </div>
         </div>-->
        <!-- Schedule Widget -->
        <div class="card booking-schedule schedule-widget">

          <!-- Schedule Header -->
          <div class="schedule-header">
            <div class="row">
              <div class="col-md-12">

                <!-- Day Slot -->
                <div class="day-slot">
                  <ul>
                    <li class="left-arrow">
                      <a (click)="search('prev')" [style]="'cursor: pointer'">
                        <i class="fa fa-chevron-left"></i>
                      </a>
                    </li>
                    <li>
                      <span>Lun</span>
                      <span class="slot-date">{{this.week[0].day}} {{this.week[0].month}}  <small class="slot-year">{{this.week[0].year}} </small></span>
                    </li>
                    <li>
                      <span>Mar</span>
                      <span class="slot-date">{{this.week[1].day}} {{this.week[1].month}} <small class="slot-year">{{this.week[1].year}}</small></span>
                    </li>
                    <li>
                      <span>Mer</span>
                      <span class="slot-date">{{this.week[2].day}} {{this.week[2].month}} <small class="slot-year">{{this.week[2].year}}</small></span>
                    </li>
                    <li>
                      <span>Jeu</span>
                      <span class="slot-date">{{this.week[3].day}} {{this.week[3].month}} <small class="slot-year">{{this.week[3].year}}</small></span>
                    </li>
                    <li>
                      <span>Ven</span>
                      <span class="slot-date">{{this.week[4].day}} {{this.week[4].month}} <small class="slot-year">{{this.week[4].year}}</small></span>
                    </li>
                    <li>
                      <span>Sam</span>
                      <span class="slot-date">{{this.week[5].day}} {{this.week[5].month}} <small class="slot-year">{{this.week[5].year}}</small></span>
                    </li>
                    <li>
                      <span>Dim</span>
                      <span class="slot-date">{{this.week[6].day}} {{this.week[6].month}} <small class="slot-year">{{this.week[6].year}}</small></span>
                    </li>
                    <li class="right-arrow">
                      <a (click)="search('next')" [style]="'cursor: pointer'">
                        <i class="fa fa-chevron-right"></i>
                      </a>
                    </li>
                  </ul>
                </div>
                <!-- /Day Slot -->

              </div>
            </div>
          </div>
          <!-- /Schedule Header -->

          <!-- Schedule Content -->
          <div class="schedule-cont">
            <div class="row">
              <div class="col-md-12">

                <!-- Time Slot -->
                <div class="time-slot">
                  <ul class="clearfix">
                    <li>
                      <a  class="timing" *ngFor="let lun of availability.Lun" [routerLink]="'/patients/checkout'" [queryParams]="{id: doctorDetails?.id, date: lun.start.split('T')[0], time:lun.start.split('T')[1]}">
                        <span (click)="book(lun)">{{lun.start.split('T')[1]}}</span>
                      </a>
                      <a>
                        <span><p>&nbsp;</p></span>
                      </a>
                    </li>

                    <li *ngIf="availability.Mar">
                      <a class="timing" *ngFor="let mar of availability.Mar" [routerLink]="'/patients/checkout'" [queryParams]="{id: doctorDetails?.id, date: mar.start.split('T')[0], time:mar.start.split('T')[1]}">
                        <span (click)="book(mar)">{{mar.start.split('T')[1]}}</span>
                      </a>
                      <a>
                        <span><p>&nbsp;</p></span>
                      </a>
                    </li>

                    <li>
                      <a class="timing" *ngFor="let mer of availability.Mer" [routerLink]="'/patients/checkout'" [queryParams]="{id: doctorDetails?.id, date: mer.start.split('T')[0], time:mer.start.split('T')[1]}">
                        <span (click)="book(mer)">{{mer.start.split('T')[1]}}</span>
                      </a>
                      <a>
                        <span><p>&nbsp;</p></span>
                      </a>
                    </li>

                    <li>
                      <a class="timing" *ngFor="let jeu of availability.Jeu" [routerLink]="'/patients/checkout'" [queryParams]="{id: doctorDetails?.id, date: jeu.start.split('T')[0], time:jeu.start.split('T')[1]}">
                        <span (click)="book(jeu)">{{jeu.start.split('T')[1]}}</span>
                      </a>
                      <a>
                        <span><p>&nbsp;</p></span>
                      </a>
                    </li>

                    <li>
                      <a class="timing" *ngFor="let ven of availability.Ven" [routerLink]="'/patients/checkout'" [queryParams]="{id: doctorDetails?.id, date: ven.start.split('T')[0], time:ven.start.split('T')[1]}">
                        <span (click)="book(ven)">{{ven.start.split('T')[1]}}</span>
                      </a>
                      <a>
                        <span><p>&nbsp;</p></span>
                      </a>
                    </li>

                    <li>
                      <a class="timing" *ngFor="let sam of availability.Sam" [routerLink]="'/patients/checkout'" [queryParams]="{id: doctorDetails?.id, date: sam.start.split('T')[0], time:sam.start.split('T')[1]}">
                        <span (click)="book(sam)">{{sam.start.split('T')[1]}}</span>
                      </a>
                      <a>
                        <span><p>&nbsp;</p></span>
                      </a>
                    </li>

                    <li>
                      <a class="timing" *ngFor="let dim of availability.Dim" [routerLink]="'/patients/checkout'" [queryParams]="{id: doctorDetails?.id, date: dim.start.split('T')[0], time:dim.start.split('T')[1]}">
                        <span (click)="book(dim)">{{dim.start.split('T')[1]}}</span>
                      </a>
                      <a>
                        <span><p>&nbsp;</p></span>
                      </a>
                    </li>

                  </ul>
                  <a *ngIf="dispo" [style]="'cursor: pointer'" (click)="searchDispo(startNextEvent)">
                    <span ><h6 [style]="'margin-left : 250px; color: #007bff;'">Pas de disponibilité cette semaine  |  <i class="fa fa-eye" aria-hidden="true"></i>  Prochain RDV le {{startNextEvent}}</h6></span>
                  </a>
                </div>
                <!-- /Time Slot -->

              </div>
            </div>
          </div>
          <!-- /Schedule Content -->

        </div>
        <!-- /Schedule Widget -->

        <!-- Submit Section
        <div class="submit-section proceed-btn text-right">
          <a [routerLink]="'/patients/checkout'" [queryParams]="{id: doctorDetails?.id}" class="btn btn-primary submit-btn">Reserver</a>
        </div>-->
        <!-- /Submit Section -->

      </div>
    </div>
  </div>

</div>
<!-- /Page Content -->
