
    <header class="header">
        <nav class="navbar navbar-expand-lg header-nav">
            <div class="navbar-header">
                <a id="mobile_btn" href="javascript:void(0);">
                    <span class="bar-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </a>
                <a (click)="home()" class="navbar-brand logo">
                    <img src="assets/img/logo.PNG" class="img-fluid" alt="Logo">
                </a>
            </div>
            <div class="main-menu-wrapper">
                <div class="menu-header">
                    <a [routerLink]="'/'" class="menu-logo" >
                        <img src="assets/img/logo.PNG" class="img-fluid" alt="Logo" style="cursor: pointer;">
                    </a>
                    <a id="menu_close" class="menu-close" href="javascript:void(0);">
                        <i class="fas fa-times"></i>
                    </a>
                </div>
                <ul class="main-nav">
                    <!--<li [class.active]="page === 'Home'">
                        <a (click)="navigate('Home')" [routerLink]="'/'" >Accueil</a>
                    </li>
                    <li  [class.active]="page === 'doctor'" class="has-submenu"  style="cursor: pointer;" >
                        <a (click)="doctor('doctor')">Praticiens <i class="fas fa-chevron-down"></i></a>
                        <ul class="submenu">
                            <li><a [routerLink]="'doctor/dashboard'">Dashboard</a></li>
                            <li><a [routerLink]="'doctor/appointment'">Mes Rendez-Vous</a></li>
                            <li><a [routerLink]="'doctor/scheduletiming'">Planifier son calendrier</a></li>
                            <li><a [routerLink]="'doctor/patients'">Mes Patients</a></li>
                            <li><a [routerLink]="'doctor/message'">Chat</a></li>
                            <li><a [routerLink]="'doctor/invoice'">Factures</a></li>
                            <li><a [routerLink]="'doctor/settings'">Profile</a></li>
                            <li><a [routerLink]="'doctor/reviews'">Commentaires</a></li>
                        </ul>
                    </li>-->
                  <!--<li  [class.active]="page === 'patients'" class="has-submenu" (click)="addStyle()" routerLinkActive="active">
                      <a >Patients <i class="fas fa-chevron-down"></i></a>
                      <ul class="submenu" id="submenu">
                          <li class="has-submenu">
                              <a href="javascript:void(0);">Praticiens</a>
                              <ul class="submenu">
                                  <li><a (click)="mapGrid()">Map</a></li>
                              </ul>
                          </li>
							<li><a [routerLink]="'patients/dashboard'" >Dashboard</a></li>
                            <li><a (click)="navigate('patients')"  [routerLink]="'patients/search-doctor'">Chercher un Praticien</a></li>-->
                            <!--<li><a [routerLink]="'patients/doctor-profile'">Doctor Profile</a></li>
                            <li><a [routerLink]="'patients/booking'">Reservations</a></li>
                            <li><a [routerLink]="'patients/favourites'">Favoris</a></li>
                            <li><a [routerLink]="'patients/message'">Chat</a></li>
                            <li><a [routerLink]="'patients/settings'">Profile</a></li>
                            <li><a [routerLink]="'change-password'">Modifier son mot de passe</a></li>
                        </ul>
                    </li>-->
                   <!-- <li class="has-submenu">
                        <a href="javascript:void(0)">Pages <i class="fas fa-chevron-down"></i></a>
                        <ul class="submenu">
                            <li><a [routerLink]="'voice-call'">Voice Call</a></li>
                            <li><a [routerLink]="'video-call'">Video Call</a></li>
                            <li><a [routerLink]="'patients/search-doctor'">Search Praticiens</a></li>
                            <li><a [routerLink]="'calender'">Calendar</a></li>
                            <li><a [routerLink]="'patients/component'">Components</a></li>
                            <li class="has-submenu">
                                <a href="javascript:void(0)">Invoices</a>
                                <ul class="submenu">
                                    <li><a [routerLink]="'doctor/invoice'">Invoices</a></li>
                                    <li><a [routerLink]="'invoice-details'">Invoice View</a></li>
                                </ul>
                            </li>
                            <li><a [routerLink]="'blank'">Starter Page</a></li>
                            <li><a [routerLink]="'login'">Login</a></li>
                            <li><a [routerLink]="'Register'">Register</a></li>
                            <li><a [routerLink]="'forgot-password'">Forgot Password</a></li>
                        </ul>
                    </li> -->
                  <!--<li class="has-submenu" [class.active]="page === 'Blog'">
                      <a [routerLink]="'blog-grid'">Blog</a>
                      <ul class="submenu">-->
                            <!--<li><a [routerLink]="'blog'">Blog List</a></li>
                            <li><a [routerLink]="'blog-grid'">Blog Grid</a></li>
                            <li><a [routerLink]="'blog-details'">Blog Details</a></li>
                        </ul>
                    </li>
                    <li >
                        <a (click)="navigate('Admin')" style="cursor: pointer;">Admin</a>
                    </li>-->
                    <li class="login-link">
                        <a [routerLink]="'login'">Se Connecter / S'inscrire</a>
                    </li>
                </ul>
            </div>
            <ul class="nav header-navbar-rht">
               <!-- <li class="nav-item contact-item">
                    <div class="header-contact-img">
                        <i class="far fa-hospital"></i>
                    </div>
                    <div class="header-contact-detail">
                        <p class="contact-header">Contact</p>
                        <p class="contact-info-header"> +24162301921</p>
                    </div>
                </li>-->
                <li class="nav-item" *ngIf="!auth">
                    <a class="nav-link header-login"  [routerLink]="'login'">Se Connecter / S'inscrire</a>
                </li>
              <li class="nav-item" *ngIf="auth && !isPraticien">
                <a class="nav-link header-login"  [routerLink]="'patients/dashboard'">Mon Compte</a>
              </li>
              <li class="nav-item" *ngIf="auth && isPraticien">
                <a class="nav-link header-login"  [routerLink]="'doctor/dashboard'">Mon Compte</a>
              </li>
                <!-- User Menu
                <li class="nav-item dropdown has-arrow logged-item" *ngIf="auth">
                    <a href="javascript:void(0)" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <span class="user-img">
                            <img class="rounded-circle" src="assets/img/doctors/doctor-thumb-02.jpg" width="31" alt="Darren Elder">
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" style="right:0;left:auto;">
                        <div class="user-header">
                            <div class="avatar avatar-sm">
                                <img src="assets/img/doctors/doctor-thumb-02.jpg" alt="User Image" class="avatar-img rounded-circle">
                            </div>
                            <div class="user-text">
                                <h6>Terrence Soumbou</h6>
                                <p class="text-muted mb-0" *ngIf="!isPatient">Praticien</p>
                                <p class="text-muted mb-0" *ngIf="isPatient">Patient</p>
                            </div>
                        </div>
                        <a class="dropdown-item" *ngIf="!isPatient" [routerLink]="'/doctor/dashboard'"  style="cursor: pointer;">Dashboard</a>
                        <a class="dropdown-item" *ngIf="!isPatient" [routerLink]="'/doctor/settings'"  style="cursor: pointer;">Profile</a>
                        <a class="dropdown-item" *ngIf="isPatient"  [routerLink]="'/patients/dashboard'"  style="cursor: pointer;">Dashboard</a>
                        <a class="dropdown-item" *ngIf="isPatient" [routerLink]="'/patients/settings'"  style="cursor: pointer;">Profile Settings</a>
                        <a class="dropdown-item" (click)="logout()" style="cursor: pointer;">Logout</a>
                    </div>
                </li>
                    /User Menu -->

            </ul>


        </nav>
    </header>
