<footer class="footer">
  <!-- Footer Bottom -->
  <div class="footer-bottom">
    <div class="container-fluid">

      <!-- Copyright -->
      <div class="copyright">
        <div class="row">
          <div class="col-md-6 col-lg-6">
            <div class="copyright-text">
              <p class="mb-0"></p>
            </div>
            <div class="social-icon">
              <ul>
                <li><a [href]="'https://www.facebook.com/'" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                <li><a [href]="'https://www.twiter.com/'" target="_blank"><i class="fab fa-twitter"></i></a></li>
                <li><a [href]="'https://www.linkedin.com/'"  target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                <li><a [href]="'https://www.instagram.com/'" target="_blank"><i class="fab fa-instagram"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-6 col-lg-6">
            <!-- Copyright Menu -->
            <div class="copyright-menu">
              <ul class="policy-menu">
                <li><a [routerLink]="'/terms-conditions'">CGUV</a></li>
                <li><a [routerLink]="'/privacy-policy'">Politique de confidentialité</a></li>
                <li><a [routerLink]="'/privacy-policy'">Mentions légales</a></li>
              </ul>

            </div>
            <!-- /Copyright Menu -->
          </div>
        </div>
      </div>
      <!-- /Copyright -->
    </div>
  </div>
  <!-- /Footer Bottom -->
</footer>
