<footer class="footer">				
	<!-- Footer Top -->
	<div class="footer-top">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-3 col-md-6">
				
					<!-- Footer Widget -->
					<div class="footer-widget footer-about">
						<div class="footer-logo">
							<img src="assets/img/logo.PNG" alt="logo">
						</div>
						<div class="footer-about-content">
							<p>Nous sommes également présent sur les reseaux sociaux </p>
							<div class="social-icon">
								<ul>
									<li>
										<a href="javascript:void(0)" target="_blank"><i class="fab fa-facebook-f"></i> </a>
									</li>
									<li>
										<a href="javascript:void(0)" target="_blank"><i class="fab fa-twitter"></i> </a>
									</li>
									<li>
										<a href="javascript:void(0)" target="_blank"><i class="fab fa-linkedin-in"></i></a>
									</li>
									<li>
										<a href="javascript:void(0)" target="_blank"><i class="fab fa-instagram"></i></a>
									</li>
									<li>
										<a href="javascript:void(0)" target="_blank"><i class="fab fa-dribbble"></i> </a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /Footer Widget -->
					
				</div>
				
				<div class="col-lg-3 col-md-6">
				
					<!-- Footer Widget -->
					<div class="footer-widget footer-menu">
						<h2 class="footer-title">Pour un Patient</h2>
						<ul>
							<li><a [routerLink]="'/patients/search-doctor'">Chercher un Praticien</a></li>
							<li><a [routerLink]="'/login'">Se Connecter</a></li>
							<li><a [routerLink]="'/Register'">S'inscrire</a></li>
							<li><a [routerLink]="'/patients/dashboard'">Dashboard</a></li>
						</ul>
					</div>
					<!-- /Footer Widget -->
					
				</div>
				
				<div class="col-lg-3 col-md-6">
				
					<!-- Footer Widget -->
					<div class="footer-widget footer-menu">
						<h2 class="footer-title">Pour un Praticien</h2>
						<ul>
							<li><a [routerLink]="'/doctor/appointment'">Rendez-vous</a></li>
							<li><a  [routerLink]="'/doctor/message'">Chat</a></li>
							<li><a [routerLink]="'/login'">Se Connecter</a></li>
							<li><a [routerLink]="'/Register'">S'inscrire</a></li>
							<li><a [routerLink]="'/doctor/dashboard'">Dashboard</a></li>
						</ul>
					</div>
					<!-- /Footer Widget -->
					
				</div>
				
				<div class="col-lg-3 col-md-6">
				
					<!-- Footer Widget -->
					<div class="footer-widget footer-contact">
						<h2 class="footer-title">Contactez-Nous</h2>
						<div class="footer-contact-info">
							<div class="footer-address">
								<span><i class="fas fa-map-marker-alt"></i></span>
								<p> Libreville Gabon<br> PK8, Carrefour 2 écoles</p>
							</div>
							<p>
								<i class="fas fa-phone-alt"></i>
								+24162301921
							</p>
							<p class="mb-0">
								<i class="fas fa-envelope"></i>
								info.utilitypro@gmail.com
							</p>
						</div>
					</div>
					<!-- /Footer Widget -->
					
				</div>
				
			</div>
		</div>
	</div>
	<!-- /Footer Top -->
	
	<!-- Footer Bottom -->
	<div class="footer-bottom">
		<div class="container-fluid">
		
			<!-- Copyright -->
			<div class="copyright">
				<div class="row">
					<div class="col-md-6 col-lg-6">
						<div class="copyright-text">
							<p class="mb-0"></p>
						</div>
					</div>
					<div class="col-md-6 col-lg-6">
					
						<!-- Copyright Menu -->
						<div class="copyright-menu">
							<ul class="policy-menu">
								<li><a [routerLink]="'/terms-conditions'">Termes et conditions</a></li>
								<li><a [routerLink]="'/privacy-policy'">Politique d'utilisation</a></li>
							</ul>
						</div>
						<!-- /Copyright Menu -->
						
					</div>
				</div>
			</div>
			<!-- /Copyright -->
			
		</div>
	</div>
	<!-- /Footer Bottom -->	
</footer>