	<!-- Breadcrumb -->
			<div class="breadcrumb-bar">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-md-12 col-12">
							<nav aria-label="breadcrumb" class="page-breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a [routerLink]="'/'">Accueil</a></li>
									<li class="breadcrumb-item active" aria-current="page">Actualité</li>
								</ol>
							</nav>
							<h2 class="breadcrumb-title">Conseils Santé et Actualité</h2>
						</div>
					</div>
				</div>
			</div>
			<!-- /Breadcrumb -->

			<!-- Page Content -->
			<div class="content">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 col-md-12">
							<div class="blog-view">
								<div class="blog blog-single-post">
									<div class="blog-image">
										<a href="javascript:void(0);"><img src="{{blogdetails.img}}" class="img-fluid"></a>
									</div>
									<h3 class="blog-title">{{blogdetails.title}}</h3>
									<div class="blog-info clearfix">
										<div class="post-left">
											<ul>
												<li>
													<div class="post-author">
														<a [routerLink]="'/patients/doctor-profile'"><img src="{{blogdetails.doctor_pic}}" alt="Post Author"> <span>{{blogdetails.doctor_name}}</span></a>
													</div>
												</li>
												<li><i class="far fa-clock"></i>{{blogdetails.createdAt | date: "dd-MM-yyyy HH:mm"}}</li>
												<li><i class="far fa-comments"></i>{{countCommentByPost(blogdetails.id)}} Commentaires</li>
												<li><i class="fa fa-tags"></i>{{blogdetails.type}}</li>
											</ul>
										</div>
									</div>
									<div class="blog-content">
										<p>{{blogdetails.description}}</p>

									</div>
								</div>

								<div class="card blog-share clearfix">
									<div class="card-header">
										<h4 class="card-title">Partager cet article</h4>
									</div>
									<div class="card-body">
										<ul class="social-share">
											<li><a  [href]="'https://www.facebook.com/'" title="Facebook"><i class="fab fa-facebook"></i></a></li>
											<li><a  [href]="'https://www.twiter.com/'" title="Twitter"><i class="fab fa-twitter"></i></a></li>
											<li><a  [href]="'https://www.linkedin.com/'" title="Linkedin"><i class="fab fa-linkedin"></i></a></li>
											<li><a  [href]="'https://www.youtube.com/'" title="Youtube"><i class="fab fa-youtube"></i></a></li>
										</ul>
									</div>
								</div>
								<!--<div class="card author-widget clearfix">
								<div class="card-header">
									<h4 class="card-title">A propos de l'auteur</h4>
									</div>
								<div class="card-body">
									<div class="about-author">
										<div class="about-author-img">
											<div class="author-img-wrap">
												<a [routerLink]="'/patients/doctor-profile'"><img class="img-fluid rounded-circle" alt="" src="assets/img/doctors/doctor-thumb-02.jpg"></a>
											</div>
										</div>
										<div class="author-details">
											<a [routerLink]="'/patients/doctor-profile'" class="blog-author-name">Blog Details</a>
											<p class="mb-0">Dr Ruby Mayindza prend en charge les problèmes bucco-dentaires. Ce spécialiste de la dentition s'occupe aussi bien des dents, des gencives et des nerfs que des maxillaires. Les patients peuvent notamment le consulter pour un détartrage, le soin d'une carie, le soulagement de gencives irritées ou encore pour la réparation d'une dent abîmée.</p>
										</div>
									</div>
								</div>
								</div>-->
								<div class="card blog-comments clearfix">
									<div class="card-header">
										<h4 class="card-title">Commentaires ({{countCommentByPost(blogdetails.id)}})</h4>
									</div>
									<div class="card-body pb-0">
									<ul class="comments-list">
										<li *ngFor="let comment of postComments">
											<div class="comment">
												<div class="comment-author">
													<img class="avatar" alt="" src="assets/img/patients/patient.jpg">
												</div>
												<div class="comment-block">
													<span class="comment-by">
														<span class="blog-author-name">{{comment.name}}</span>
													</span>
													<p>{{comment.comment}}</p>
													<p class="blog-date">{{comment.date}}</p>
													<!-- <a class="comment-btn" href="javascript:void(0)">
														<i class="fas fa-reply"></i> Reply
													</a> -->
												</div>
											</div>
										</li>

									</ul>
								</div>
								</div>

								<div class="card new-comment clearfix">
									<div class="card-header">
										<h4 class="card-title">Laisser un commentaire</h4>
									</div>
									<div class="card-body">
										<form>
											<div class="form-group">
												<label>Nom <span class="text-danger">*</span></label>
												<input type="text" class="form-control" name="name" [(ngModel)]="name">
											</div>
											<div class="form-group">
												<label>Email <span class="text-danger">*</span></label>
												<input type="email" class="form-control" name="email"  [(ngModel)]="email">
											</div>
											<div class="form-group">
												<label>Commentaire <span class="text-danger">*</span></label>
												<textarea rows="4" class="form-control" name="usercomment" [(ngModel)]="usercomment"></textarea>
											</div>
											<div class="submit-section">
												<button class="btn btn-primary submit-btn" type="submit" (click)="comment()">Envoyer</button>
											</div>
										</form>
									</div>
								</div>

							</div>
						</div>

						<!-- Blog Sidebar -->
						<div class="col-lg-4 col-md-12 sidebar-right theiaStickySidebar">

							<!-- Search -->
							<div class="card search-widget">
								<div class="card-body">
									<form class="search-form">
										<div class="input-group">
											<input type="text" placeholder="Chercher par thème" class="form-control">
											<div class="input-group-append">
												<button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
											</div>
										</div>
									</form>
								</div>
							</div>
							<!-- /Search -->

							<!-- Latest Posts -->
							<div class="card post-widget">
								<div class="card-header">
									<h4 class="card-title">Derniers Articles</h4>
								</div>
								<div class="card-body">
									<ul class="latest-posts">
										<li *ngFor="let blog of blogs | slice:0:15">
											<div class="post-thumb">
												<a style="cursor: pointer;" (click)="navigate(blog)">
													<img class="img-fluid" [src]="blog.img" alt="">
												</a>
											</div>
											<div class="post-info">
												<h4>
													<a style="cursor: pointer;" (click)="navigate(blog)">{{blog.title}}</a>
												</h4>
												<p>{{blog.createdAt | date : "dd MMM yyyy"}}</p>
											</div>
										</li>
									</ul>
								</div>
							</div>
							<!-- /Latest Posts -->

							<!-- Categories -->
							<div class="card category-widget">
								<div class="card-header">
									<h4 class="card-title">Thèmes</h4>
								</div>
								<div class="card-body">
									<ul class="categories">
                    <li *ngFor="let theme of themes | slice:0:10">
                    <a href="javascript:void(0)">{{theme.name}} ({{countTheme(theme.name) }})</a>
                    </li>
									</ul>
								</div>
							</div>
							<!-- /Categories -->

							<!-- Tags
							<div class="card tags-widget">
								<div class="card-header">
									<h4 class="card-title">Tags</h4>
								</div>
								<div class="card-body">
									<ul class="tags">
										<li><a href="javascript:void(0)" class="tag">Children</a></li>
										<li><a href="javascript:void(0)" class="tag">Disease</a></li>
										<li><a href="javascript:void(0)" class="tag">Appointment</a></li>
										<li><a href="javascript:void(0)" class="tag">Booking</a></li>
										<li><a href="javascript:void(0)" class="tag">Kids</a></li>
										<li><a href="javascript:void(0)" class="tag">Health</a></li>
										<li><a href="javascript:void(0)" class="tag">Family</a></li>
										<li><a href="javascript:void(0)" class="tag">Tips</a></li>
										<li><a href="javascript:void(0)" class="tag">Shedule</a></li>
										<li><a href="javascript:void(0)" class="tag">Treatment</a></li>
										<li><a href="javascript:void(0)" class="tag">Dr</a></li>
										<li><a href="javascript:void(0)" class="tag">Clinic</a></li>
										<li><a href="javascript:void(0)" class="tag">Online</a></li>
										<li><a href="javascript:void(0)" class="tag">Health Care</a></li>
										<li><a href="javascript:void(0)" class="tag">Consulting</a></li>
										<li><a href="javascript:void(0)" class="tag">Doctors</a></li>
										<li><a href="javascript:void(0)" class="tag">Neurology</a></li>
										<li><a href="javascript:void(0)" class="tag">Dentists</a></li>
										<li><a href="javascript:void(0)" class="tag">Specialist</a></li>
										<li><a href="javascript:void(0)" class="tag">Doccure</a></li>
									</ul>
								</div>
							</div>-->
							<!-- /Tags -->

						</div>
						<!-- /Blog Sidebar -->

                </div>
				</div>

			</div>
			<!-- /Page Content -->
