<!-- Home Banner -->
<div class="home">
    <section class="section section-search">
        <div class="container-fluid">
            <div class="banner-wrapper">
                <div class="banner-header text-center">
                    <h1>Prendre rendez-vous</h1>
                    <p>Consulter les disponibilités des praticiens et des établissements de santé</p>
                </div>

                <!-- Search -->
                <div class="search-box">
                    <form>
                        <div class="form-group search-location">

                          <ng-autocomplete [data]="countries" type="text" class="form-control"
                                           [searchKeyword]="keyword" placeHolder="OU ?" (selected)='selectContryEvent($event)'
                                           (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)'
                                           historyIdentifier="countries" [itemTemplate]="itemTemplate"
                                           [notFoundTemplate]="notFoundTemplate">
                          </ng-autocomplete>

                        </div>
                        <div class="form-group search-info">
                            <ng-autocomplete [data]="searchDoctor" type="text" class="form-control"
                                [searchKeyword]="keyword" placeHolder="Médecin, établissement, spécialité …" (selected)='selectDoctorEvent($event)'
                                (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)'
                                historyIdentifier="doctors" [itemTemplate]="itemTemplate"
                                [notFoundTemplate]="notFoundTemplate">
                            </ng-autocomplete>

                            <ng-template #itemTemplate let-item>
                                <a [innerHTML]="item.name"></a>
                            </ng-template>

                            <ng-template #notFoundTemplate let-notFound>
                                <div [innerHTML]="notFound"></div>
                            </ng-template>
                        </div>
                        <button type="submit" class="btn btn-primary search-btn"
                            [routerLink]="'/patients/search-doctor'"><i class="fas fa-search"></i>
                            <span>Recherche</span></button>
                    </form>
                </div>
                <!-- /Search -->

            </div>
        </div>
    </section>
    <!-- /Home Banner -->

    <!-- Clinic and Specialities -->
    <section class="section section-specialities">
        <div class="container-fluid">
            <div class="section-header text-center">
                <h2>Prochaines disponibilités selon la spécialité</h2>
                <p class="sub-title">WQare vous garantie de trouver un expert dans les domaines suivants </p>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-9">
                    <!-- Slider -->

                    <div class="specialities-slider slider">
                        <div class="speicality-item text-center">
                            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig3">
                                <div ngxSlickItem *ngFor="let slide of slides" class="slide col-md-4">
                                        <div class="speicality-img">
                                            <img src="{{slide.img}}" class="img-fluid" alt="Speciality">
                                            <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                        </div>
                                        <p>{{slide.speciality}}</p>
                                </div>
                            </ngx-slick-carousel>
                            <div class="text-center client-navbtn">
                                <button class="btn-next" (click)="next()"><i
                                        class="las la-caret-square-left"></i></button>
                                <button class="btn-prev" (click)="prev()"><i
                                        class="las la-caret-square-right"></i></button>
                            </div>

                        </div>
                    </div>
                    <!-- /Slider -->

                </div>
            </div>
        </div>
    </section>
    <!-- Clinic and Specialities -->

    <!-- popular section-->
   <!--popular section-->

  <section class="section section-blogs">
    <div class="container-fluid">

      <!-- Section Header -->
      <div class="section-header text-center">
        <h2>Offre pour les  praticiens et établissements de santé</h2>
        <p class="sub-title">Nous offrons ces fonctionnalités aux praticiens et structures sanitaires !!!</p>
      </div>
      <!-- /Section Header -->

      <div class="row blog-grid-row">
        <div class="col-md-6 col-lg-3 col-sm-12" *ngFor="let adv of advantages;let i=index" [hidden]="i>3">

          <!-- Blog Post -->
          <div class="blog grid-blog">
            <div class="blog-content">
              <h1 style="padding-left: 130px"><i style="color: #0de0fe" class="{{adv.img}}"></i></h1>
              <h2 class="blog-title"><a>{{adv.title}}</a></h2>
              <h6 class="mb-0 desc-ellipsis" style="padding-top: 10px"><i style="color: #0de0fe" class="{{adv.firstImg}}"></i> &nbsp; {{adv.first}}</h6>
              <p style="padding-left: 25px; padding-top: 5px">{{adv.descFirst}}</p>
              <h6 class="mb-0 desc-ellipsis" style="padding-top: 10px"><i style="color: #0de0fe" class="{{adv.secondImg}}"></i> &nbsp; {{adv.second}}</h6>
              <p style="padding-left: 25px; padding-top: 5px">{{adv.descSecond}}</p>
              <h6 class="mb-0 desc-ellipsis" style="padding-top: 10px"><i style="color: #0de0fe" class="{{adv.thirdImg}}"></i> &nbsp; {{adv.third}}</h6>
              <p style="padding-left: 25px; padding-top: 5px">{{adv.descThird}}</p>

            </div>
          </div>
          <!-- /Blog Post -->
        </div>
      </div>
    </div>
  </section>

    <section class="section section-features">
        <div class="container-fluid">

            <!-- Section Header -->
            <div class="section-header text-center">
                <h2>Conseils santé et Actualité</h2>
                <!--<p class="sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua.</p>-->
            </div>
            <!-- /Section Header -->

            <div class="row blog-grid-row">
                <div class="col-md-6 col-lg-3 col-sm-12" *ngFor="let blog of blogs;let i=index" [hidden]="i>3">
                    <!-- Blog Post -->
                    <div class="blog grid-blog">
                        <div class="blog-image">
                            <a [routerLink]="'/blog-details'" [queryParams]="{id: blog.id}">
                              <img class="img-fluid" [src]="blog.img" alt="Post Image">
                            </a>
                        </div>
                        <div class="blog-content">
                            <ul class="entry-meta meta-item">
                                <li>
                                    <div class="post-author">
                                        <a><img [src]="blog.doctor_pic"> <span>{{blog.createdBy}}</span></a>
                                    </div>
                                </li>
                            </ul>
                          <h3 class="blog-title"><a [routerLink]="'/blog-details'"
                                    [queryParams]="{id: blog.id}">{{blog.title}}</a></h3>
                            <p class="mb-0 desc-ellipsis">{{blog.description}}</p>
                        </div>
                    </div>

                  <!-- /Blog Post -->
                </div>
            </div>
            <div class="view-all text-center">
                <a [routerLink]="'/blog'" class="btn btn-primary">Plus d'articles</a>
            </div>
        </div>
    </section>
</div>
