<!-- Home Banner -->
<div class="home">
    <section class="section section-search">
        <div class="container-fluid">
            <div class="banner-wrapper">
                <div class="banner-header text-center">
                    <h1>Chercher un médecin, prendre rendez-vous</h1>
                    <p>Découvrez les meilleurs médecins, cliniques et hôpitaux de la ville les plus proche de chez vous.</p>
                </div>

                <!-- Search -->
                <div class="search-box">
                    <form>
                        <div class="form-group search-location">

                          <ng-autocomplete [data]="countries" type="text" class="form-control"
                                           [searchKeyword]="keyword" placeHolder="OU ?" (selected)='selectContryEvent($event)'
                                           (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)'
                                           historyIdentifier="countries" [itemTemplate]="itemTemplate"
                                           [notFoundTemplate]="notFoundTemplate">
                          </ng-autocomplete>


                            <!--<span class="form-text">Based on your Location</span>-->
                        </div>
                        <div class="form-group search-info">
                            <!-- <input type="text" class="form-control"
                            placeholder="Search Doctors, Clinics, Hospitals, Diseases Etc"/>
                        <span class="form-text">Ex : Dental or Sugar Check up etc</span> -->
                            <ng-autocomplete [data]="searchDoctor" type="text" class="form-control"
                                [searchKeyword]="keyword" placeHolder="Médecin, établissement, spécialité…" (selected)='selectDoctorEvent($event)'
                                (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)'
                                historyIdentifier="doctors" [itemTemplate]="itemTemplate"
                                [notFoundTemplate]="notFoundTemplate">
                            </ng-autocomplete>

                            <ng-template #itemTemplate let-item>
                                <a [innerHTML]="item.name"></a>
                            </ng-template>

                            <ng-template #notFoundTemplate let-notFound>
                                <div [innerHTML]="notFound"></div>
                            </ng-template>
							 <!--<span class="form-text">Ex : Dental or Sugar Check up etc</span>-->

                            <!-- <mat-form-field [floatLabel]="'never'" class="example-full-width" style="width: 100%">

                            <input matInput type="text" class="form-control"
                            placeholder="Search Doctors" [matAutocomplete]="auto" [formControl]="employeeCtrl">
                             <span class="form-text">Dr.John</span>

                            <mat-autocomplete #auto="matAutocomplete">
                              <mat-option *ngFor="let doctor of filteredEmployee | async" [value]="doctor.doctor_name" [routerLink]="'/patients/doctor-profile'" [queryParams]="{id: doctor.id}">

                                <img class="example-option-img" aria-hidden [src]="doctor.profile" height="25"> &nbsp;&nbsp;
                                <span>{{doctor.doctor_name}}</span>
                              </mat-option>
                            </mat-autocomplete>

                          </mat-form-field> -->
                        </div>
                        <button type="submit" class="btn btn-primary search-btn"
                            [routerLink]="'/patients/search-doctor'"><i class="fas fa-search"></i>
                            <span>Recherche</span></button>
                    </form>
                </div>
                <!-- /Search -->

            </div>
        </div>
    </section>
    <!-- /Home Banner -->

    <!-- Clinic and Specialities -->
    <section class="section section-specialities">
        <div class="container-fluid">
            <div class="section-header text-center">
                <h2>Clinique et spécialités</h2>
                <p class="sub-title">Découvrer les domaines d'expertise de nos praticiens et spécialistes</p>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-9">
                    <!-- Slider -->

                    <div class="specialities-slider slider">
                        <div class="speicality-item text-center">
                            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig3">
                                <div ngxSlickItem *ngFor="let slide of slides" class="slide col-md-4">
                                        <div class="speicality-img">
                                            <img src="{{slide.img}}" class="img-fluid" alt="Speciality">
                                            <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                        </div>
                                        <p>{{slide.name}}</p>
                                </div>
                            </ngx-slick-carousel>
                            <div class="text-center client-navbtn">
                                <button class="btn-next" (click)="next()"><i
                                        class="las la-caret-square-left"></i></button>
                                <button class="btn-prev" (click)="prev()"><i
                                        class="las la-caret-square-right"></i></button>
                            </div>

                        </div>
                    </div>
                    <!-- /Slider -->

                </div>
            </div>
        </div>
    </section>
    <!-- Clinic and Specialities -->

    <!-- popular section-->
    <section class="section section-doctor">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <div class="section-header ">
                        <h2>Nos Praticiens</h2>
                        <p>Planifier une consultation physique ou vidéo avec l'un de nos médécins</p>
                    </div>
                    <div class="about-content">
                        <p>It is a long established fact that a reader will be distracted by the readable content of a
                            page
                            when looking at its layout. The point of using Lorem Ipsum.</p>
                        <p>web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem
                            ipsum'
                            will uncover many web sites still in their infancy. Various versions have evolved over the
                            years, sometimes</p>
                        <a href="javascript:;">Read More..</a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="doctor-slider">
                        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfigure">
                            <div class="slick-slide" *ngFor="let doctor of doctors;let i=index">
                                <div ngxSlickItem>
                                    <div class="profile-widget" style="width: 100%; display: inline-block;">
                                        <div class="doc-img">
                                            <a [routerLink]="'/patients/doctor-profile'"
                                                [queryParams]="{id: doctor.id}" tabindex="-1">
                                                <img class="img-fluid" alt="User Image" [src]="doctor.profile">
                                            </a>
                                            <a href="javascript:void(0)" class="fav-btn" tabindex="-1">
                                                <i class="far fa-bookmark"></i>
                                            </a>
                                        </div>
                                        <div class="pro-content">
                                            <h3 class="title">
                                                <a [routerLink]="'/patients/doctor-profile'"
                                                    [queryParams]="{id: doctor.id}"
                                                    tabindex="-1">{{doctor.doctor_name}}</a>
                                                <i class="fas fa-check-circle verified"></i>
                                            </h3>
                                            <p class="speciality">{{doctor.Education}}</p>
                                            <div class="rating">
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star"></i>
                                                <span class="d-inline-block average-rating">(49)</span>
                                            </div>
                                            <ul class="available-info">
                                                <li>
                                                    <i class="fas fa-map-marker-alt"></i> {{doctor.Price}}
                                                </li>
                                                <li>
                                                    <i class="far fa-clock"></i> {{doctor.Available}}
                                                </li>
                                                <li>
                                                    <i class="far fa-money-bill-alt"></i> {{doctor.Price}}
                                                    <i class="fas fa-info-circle" data-toggle="tooltip" title=""
                                                        data-original-title="Lorem Ipsum"></i>
                                                </li>
                                            </ul>
                                            <div class="row row-sm">
                                                <div class="col-6">
                                                    <a [routerLink]="'/patients/doctor-profile'"
                                                        [queryParams]="{id: doctor.id}" class="btn view-btn"
                                                        tabindex="-1">View Profile</a>
                                                </div>
                                                <div class="col-6">
                                                    <a [routerLink]="'/patients/booking'"
                                                        [queryParams]="{id: doctor.id}" class="btn book-btn"
                                                        tabindex="-1">Book
                                                        Now</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ngx-slick-carousel>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--popular section-->

    <section class="section section-features">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5 features-img">
                    <img src="assets/img/features/feature.png" class="img-fluid" alt="Feature">
                </div>
                <div class="col-md-7">
                    <div class="section-header">
                        <h2 class="mt-2">Available Features in Our Clinic</h2>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a
                            page when looking at its layout. </p>
                    </div>
                    <div class="features-slider slider">

                            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig2">
                                <div ngxSlickItem *ngFor="let slide of sliderContent">
                                    <div class="feature-item text-center">
                                    <img src="{{slide.img}}" class="img-fluid" alt="Feature">
                                        <p>{{slide.name}}</p>
                                    </div>
                                </div>
                            </ngx-slick-carousel>
                            <!-- <div class="text-center client-navbtn">
                                <button class="btn-next" (click)="nextslide()"><i
                                        class="las la-caret-square-left"></i></button>
                                <button class="btn-prev" (click)="prevslide()"><i
                                        class="las la-caret-square-right"></i></button>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <section class="section section-blogs">
        <div class="container-fluid">

            <!-- Section Header -->
            <div class="section-header text-center">
                <h2>Blogs and News</h2>
                <p class="sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <!-- /Section Header -->

            <div class="row blog-grid-row">
                <div class="col-md-6 col-lg-3 col-sm-12" *ngFor="let blog of blogs;let i=index" [hidden]="i>3">

                    <!-- Blog Post -->
                    <div class="blog grid-blog">
                        <div class="blog-image">
                            <a [routerLink]="'/blog-details'" [queryParams]="{id: blog.id}"><img class="img-fluid"
                                    [src]="blog.img" alt="Post Image"></a>
                        </div>
                        <div class="blog-content">
                            <ul class="entry-meta meta-item">
                                <li>
                                    <div class="post-author">
                                        <a [routerLink]="'/patients/doctor-profile'"><img [src]="blog.doctor_pic"
                                                alt="Post Author"> <span>{{blog.doctor_name}}</span></a>
                                    </div>
                                </li>
                                <li><i class="far fa-clock"></i> {{blog.createdAt | date : 'dd MMM yyyy'}}</li>
                            </ul>
                            <h3 class="blog-title"><a [routerLink]="'/blog-details'"
                                    [queryParams]="{id: blog.id}">{{blog.title}}</a></h3>
                            <p class="mb-0 desc-ellipsis">{{blog.description}}</p>
                        </div>
                    </div>
                    <!-- /Blog Post -->

                </div>

            </div>
            <div class="view-all text-center">
                <a [routerLink]="'/blog'" class="btn btn-primary">View All</a>
            </div>
        </div>
    </section>
</div>
